doctype html
html
    head
        title="17.7"
    body
        form(action="/auth/google",method="GET")
            p Hello! If you want to log in by Google, please click here:
            button(type="submit") Login