doctype html
html
    head
        title="17.6"
    body
        p Hello #{login}! You are logged in
        form(action="/",method="GET")
            p
                input(type="hidden",name="aaa",value="logout")
                button(type="submit") Logout