.TodoList {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
}

.task {
    transition-duration: 0.2s;
    padding: 5px;
}

.task:hover {
    background-color: cadetblue;
    border-radius: 5px;
}